.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -1.7rem;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.input {
    font-size: 1rem;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: .5rem;
    padding: 1rem;
    width: 40.5rem;
    height: 3.375rem;
}

.input:focus {
    color: var(--gray-100);
    border: 1px solid var(--purple-dark);
}

.send {
    background-color: var(--blue-dark);
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    width: 5.625rem;
    height: 3.25rem;
    font-size: .875rem;
    font-weight: 700;
    color: var(--gray-100);
    transition: .1s;
}

.send:hover {
    background-color: var(--blue);
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .input {
        width: 50%;
    }

}