.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    gap: .5rem;
    align-items: center;
}

.indicators {
    width: 46rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
}

.created {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.created p {
    font-size: .875rem;
    font-weight: 700;
    color: var(--blue);
}

.created span {
    background-color: var(--gray-400);
    padding: .125rem .5rem .125rem .5rem;
    border-radius: 1rem;
    font-size: .75rem;
    font-weight: 500;
    color: var(--gray);
}

.done {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.done p {
    font-size: .875rem;
    font-weight: 700;
    color: var(--purple);
}

.done span {
    background-color: var(--gray-400);
    padding: .125rem .5rem .125rem .5rem;
    border-radius: 1rem;
    font-size: .75rem;
    font-weight: 500;
    color: var(--gray);
}

@media (max-width: 768px) {
    .indicators {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}